# Variables

Variables are used to store and manipulate data. They act as containers that hold values, which can be of different types such as numbers, strings, lists, or objects. Here's an explanation of variables in Python with examples:

**Variable Declaration and Assignment:**

To declare and assign a value to a variable in Python, you simply write the variable name followed by an equals sign (=) and the value you want to assign. Here's an example:

In [3]:
# Variable declaration and assignment
a = 85
b = 75
c = 25

In [5]:
# Let's Print the Values of these Variables

print(a)
print(b)
print(c)

85
75
25

**Variable Naming Rules:**

* A variable name can contain letters (a-z, A-Z), digits (0-9), and underscores (_). It must start with a letter or an underscore.
* The Variable name cannot start with a Number.
* A variable name can only contain alphanumeric characters and underscores.
* Variables names are case sensitive.
* It cannot be a reserved keyword in Python (e.g., if, for, while, etc.).
* Avoid using special characters or spaces in variable names.

In [8]:
#both of these variables will get accepted as both of them are following the rule.
data = 2
_data = 2

In [9]:
# 4data cannot be accepted as a variable, as the variable name starts with a number

4data = 9

SyntaxError: ignored

In [11]:
# Variable names can only contain alphanumeric characters and underscores

4% = 5

SyntaxError: ignored

In [16]:
# variable names are case sensitive, Here both data & DATA are different variable storing different values.

data = 5
DATA = 10

print(data)
print(DATA)

5
10

# Data Types and Type Casting

**Variable Types:**

Variables in Python can hold values of different types:
* Integer
* Float
* String

In [22]:
# Lets try to assign to assign some variables with different data types

x = 4
y = 'india'
z = 3.5

print(x)
print(y)
print(z)

4
india
3.5

In [23]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'float'>

# Type Casting

Type casting in Python refers to the process of converting the data type of a variable or value from one type to another. Python provides built-in functions that allow you to perform type casting. The commonly used type casting functions in Python include:

In [4]:
# Let's initialize a variable named x

x = 4
print(type(x))

<class 'int'>

In [5]:
#let's typecast the variable x into a string datatype

x = str(x)
print(type(x))

<class 'str'>

# Scope of Variables

## Local Variables

 * A local variable is a variable that is defined within the scope of a function or a block of code. Local variables are only accessible within the block or function where they are defined. They have a limited lifespan and exist only as long as the block or function is being executed.

In [14]:
def my_function():
    a = 10  # a is a local variable defined within the function
    print(a)

my_function()  # Output: 10

# Trying to access the local variable outside the function will result in an error
print(a)  # Raises NameError: name 'a' is not defined

10

NameError: ignored

### Global Variables

* Global Variables are Variables which are created Outside of the Function. But, They can accessed from anywhere.

In [9]:
# Example for Global Scope of Variables

x = 27.63

def function():
    print(x)

function()  # here, we are able to access variable from outside of the variable

27.63

In [10]:
x = 89564.23

def function():
    x = 78
    print(x)

function()  # here, we are able to access the local variable

78

### The Global Keyword

* Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

* To create a global variable inside a function, you can use the global keyword.

In [11]:
def function():
    global x
    x = "Awesome"
    print(x)

function()
print(x)

Awesome
Awesome

# Operators in Python

* In Python, operators are special symbols or characters that are used to perform operations on operands (variables, values, or expressions). They allow you to perform mathematical, logical, comparison, assignment, and other operations in your code.

# Arithematic Operators
Arithmetic operators are used in Python to perform basic mathematical calculations. They operate on numerical values and return a new value as a result.

## 1. Addition Operator
Addition operator adds two values.
### x+y

In [16]:
# Adding two numbers

x = 5
y = 8

z = x + y

print(z)

13

In [18]:
# Adding two numbers

x = 100
y = 246

z = x + y

print(z)

346

## 2. Subtraction Operator

Subtraction Operator subtracts two values.

In [28]:
# Lets Subtract two Values

x = 200
y = 100

z = x - y

print(z)

100

In [29]:
# Let's take one more example

x = 100
y = 300

z = x - y

print(z)

-200

## 3. Multiplication Operator
Multiplication operator multiplies two values.
### x*y

In [19]:
# multiplies two values

x = 50
y = 30

z = x*y

print(z)

1500

In [20]:
# Multiplication Example

x = 387
y = 4

z = x*y

print(z)

1548

## 4. Dividend Operator
Dividend operator divides one operand by another.
### x/y

In [1]:
# let's take an example

x = 45
y = 3

z = x/y

print(z)

15.0

In [22]:
# let's take one more example

x = 764
y = 56

z = x/y

print(z)

13.642857142857142

## 5. Modulus Operator

 The Modulus Operators Returns the Remainder of the division between two operands/Values.

 x%y

In [3]:
# Let's take an example to understand the Modulus Operator

x = 11
y = 3

z = x%y

print(z)

2

In [41]:
# Let's take one more example

x = 10
y = 4

z = x%y

print(z)

2

## 6. Exponent Operator
Exponent Operator raises the power of left operand to the right operand.
### x**y

In [39]:
# Let's take an example for Exponent Operator

x = 2
y = 3

z = x**y

print(z)

8

In [40]:
# Let's take one more example

x = 2
y = 4

z = x**y

print(z)

16

## 7. Floor Division Operator
Floor division operator returns quotient rounded off to the nearest integer.
### x//y

In [7]:
# Let's take an example for floor division operator

x = 16
y = 5

z = x//y

print(z)

3

# Assignment Operators
Assignment operators are used to assign a value to the variable.

## 1. Equals to (=) Operator
Equals to (=) operator assigne the value of right hand operand to the left hand operand.

In [27]:
# Let's take an Example

x = 7
y = 3.65

print(x)
print(y)

7
3.65

## 2. Add Equal to (+=) Operator
Add equal to (+=) Operator adds right hand operand to the left hand operand and assign the result to the left hand operand.
###  x+=y       x=x+y

In [3]:
# Let's take an Example

x = 7
y = 4
x+=y

print(x, y)

11 4

In [8]:
# Let's take one more example

x = 10
x += 5

print(x, y)

15 5

## 3. Subtract Equal to (-=) Operator
Subtract equal to (-=) operator subtracts right hand operand from the left hand operand and assign the result to the left hand operand.
### x-=y  x=x-y

In [1]:
# Let's take an Example

x = 45
y = 12
x-=y
x

33

## 4. Mutliply Equal to (*=) Operator
Multiply equal to (*=) operator multiplies right hand operand by left hand operand and assign the result to the left hand operand.
### x*=y x=x*y

In [ ]:
# Let's take an Example

x = 23
y = 4
x*=y
x

92

## 5. Divide Equal to (/=) Operator
Divide equal to (/=) operator divides left operand by right operand and assign the result to left hand operand.
### x/=y    x=x/y

In [4]:
# Let's take an Example

x = 35
y = 5

x/=y

print(x)

7.0


# Comparison Operator
Comparison operators are used to compare one value to another. The result of a comparison is a Boolean value, which can be either True or False.

## 1. Equal to (==) Operator
Equal to (==) operator checks whether the value of the operands are equal. If yes it returns True.

In [ ]:
# let's take an example

2==2

True

In [9]:
# let's take an example

x = 7
y = 7
x==y

True

## 2. Not Equal to (!=) Operator
Not equal to (!=) operator checks If the values of the two operands are not equal, then the condition becomes true.

In [ ]:
# let's take an example

4!=7

True

In [10]:
# let's take an example

x = 8
y = 10
x!=y

True

 ## 3. Greater than (>) Operator
Greater than (>) operator checks If the value of the left operand is greater than the value of the right operand, then the condition becomes true.

In [11]:
# let's take an example

5>9

False

In [ ]:
# let's take an example

x = 34
y = 12
x>y

True

## 4. Less than (<) Operator
Less than (<) operator checks If the value of the left operand is less than the value of the right operand, then the condition becomes true.

In [ ]:
# let's take an example

6<10

True

In [ ]:
# let's take an example

x = 87
y = 10

x<y

False

## 5. Greater than equal to (>=) Operator
Greater than equal to (>=) operator checks If the value of the left operand is greater than or equal to the value of the right operand, then the condition becomes true.

In [ ]:
# let's take an example

4>=5

False

In [ ]:
# let's take an example

x = 76
y = 36
x>=y

True

## 6. Less than equal to (<=) Operator
Less than equal to (<=) operator  checks If the value of the left operand is less than or equal to the value of the right operand, then the condition becomes true.

In [ ]:
# let's take an example

12<=13

True

In [ ]:
# let's take an example

x = 87
y = 76
x<=y

False

# Logical Operator
Logical operators are used to combine conditional statements.

## 1. AND Operator
And operator Returns True if both statements are true.

In [5]:
# let's take an example

x = 6
x < 10 and x > 1

True

## 2. OR Operator
OR operator Returns True if one of the statements is true.

In [6]:
# let's take an example

x = 8
x<10 or x>12

True

## 3. NOT Operator
NOT operator Reverse the logical state of the operand.

In [ ]:
# let's take an example

a = True
not a

False