In [5]:
print(len(input("Enter the character")))

11

In [6]:
city=input("Enter city name")
village=input("Enter village name")
print("print details",city,village)

print details Bangalore Nedukundam

In [7]:
print("my age is", input("Enter age please"))

my age is 39

In [8]:
print(1+102)

103

In [1]:
print(23.5+ 45.6)

69.1

In [2]:
print(True)

True

In [3]:
print(123_345_2343255_234345)

1233452343255234345

In [10]:
height=input("Enter your height in cm")
weight=input("Enter your weight in kg")
result=float(height)/float(weight)
print(f"Your BMI is {height} {weight} {result}")

Your BMI is 172 103.2 1.6666666666666665

In [15]:
print(3**3)

27

In [ ]:
height = 1.65
weight = 84
bmi = weight/height
#print(bmi)
print(int(bmi))
#print(round(bmi, 2))

50.909090909090914

In [22]:
type(True)

bool

In [39]:

age=(int(input("Please enter your age")))
print(age)
#if conditions to check the conditions
if age>=18:
    print("You are eligible to vote")
    height = int(input("Enter your height in cm?"))
    if height >=110:
        print("You can ride the roller coaster")
    elif height >= 80:
        print("You can ride the mini roller coaster")
    else:
        print("You are not tall enough to ride any roller coaster") 
else:
    print("You are not eligible to vote")

25
You are eligible to vote
You can ride the mini roller coaster

In [ ]:
"""
# conditional operators (if else)
print("Welcome to the roller coaster")
height = int(input("Enter the height in cm?"))
if height >= 120:
    print(" You can ride the roller coaster")
else:
    print("Sorry you cant")
    """

Welcome to the roller coaster
 You can ride the roller coaster

In [51]:
states=["Andhra Pradesh", "Telangana", "Tamil Nadu", "Kerala", "Karnataka"]
capitals=["Amaravati", "Hyderabad", "Chennai", "Thiruvananthapuram", "Bengaluru"]
#cars=["innova","dzire"]
print(states[:2],capitals[0])

['Andhra Pradesh', 'Telangana'] Amaravati

In [53]:
states.append("Manipur")
capitals.append("Bhopal")
print(states,capitals)

['Andhra Pradesh', 'Telangana', 'Tamil Nadu', 'Kerala', 'Karnataka', 'Manipur', 'Manipur'] ['Amaravati', 'Hyderabad', 'Chennai', 'Thiruvananthapuram', 'Bengaluru', 'Bhopal', 'Bhopal']

In [54]:
states.insert(1,"Jammu")
capitals.insert(1,"Srinagar")
print(states)
print(capitals)

['Andhra Pradesh', 'Jammu', 'Telangana', 'Tamil Nadu', 'Kerala', 'Karnataka', 'Manipur', 'Manipur']
['Amaravati', 'Srinagar', 'Hyderabad', 'Chennai', 'Thiruvananthapuram', 'Bengaluru', 'Bhopal', 'Bhopal']

In [69]:
capitals.remove("Bhopal")
print(capitals)

['Amaravati', 'Chennai', 'Thiruvananthapuram']

In [76]:
capitals.sort(reverse=False)
print(capitals)

['Amaravati', 'Chennai', 'Thiruvananthapuram']

In [79]:
fruits=("Banana","apple",'Pineapple')
print(fruits[0])

Banana

In [80]:
type(fruits)

tuple

In [84]:
print(capitals[1][2])

e

In [1]:
list1=[1,2,3,4,5,1,2,3,4,5]
list2=(6,7,8,9,10,6,7,8,9,10)
list3={1,2,3,4,5,1,2,3,4,5}

In [13]:
num1={1,2,3}
num2={4,5,6}
print(num2-num1)

{4, 5, 6}

In [16]:
mycar={'Brand':'Maruti', 
       'Model':'Swift',
        'Year':2020,
         'Color':'Red'}
mycar

{'Brand': 'Maruti', 'Model': 'Swift', 'Year': 2020, 'Color': 'Red'}

In [19]:
cars={"A":"Toyota", "B":"Honda", "C":"Ford"}
print(cars["A"])

Toyota

In [25]:
cars_collection={"cars1":{"Brand":"Toyota","Model": "Camry", "Year": 2021, "Color": "Blue"},
                "cars2":{"Brand":"Honda","Model": "Civic", "Year": 2020, "Color": "Black"},
                "cars3":{"Brand":"Ford","Model": "Focus", "Year": 2019, "Color": "White"}}

In [27]:
cars_collection

{'cars1': {'Brand': 'Toyota', 'Model': 'Camry', 'Year': 2021, 'Color': 'Blue'},
 'cars2': {'Brand': 'Honda', 'Model': 'Civic', 'Year': 2020, 'Color': 'Black'},
 'cars3': {'Brand': 'Ford', 'Model': 'Focus', 'Year': 2019, 'Color': 'White'}}

In [28]:
print(cars_collection["cars2"]["Year"])

2020

In [29]:
cars_collection.pop("cars3")

{'Brand': 'Ford', 'Model': 'Focus', 'Year': 2019, 'Color': 'White'}

In [30]:
cars_collection

{'cars1': {'Brand': 'Toyota', 'Model': 'Camry', 'Year': 2021, 'Color': 'Blue'},
 'cars2': {'Brand': 'Honda', 'Model': 'Civic', 'Year': 2020, 'Color': 'Black'}}

stack using deque

In [34]:
from collections import deque
number=deque()
print(number)

deque([])

In [35]:
number.append(23)
number.append(45)
number.append(67)
print(number)

deque([23, 45, 67])

In [1]:
##Question1
prime_number1=[1,3,5,7,11]
prime_number2=[2,13,17,21,23]
print(prime_number1 + prime_number2)

[1, 3, 5, 7, 11, 2, 13, 17, 21, 23]

In [ ]:
set_num1={1,2,3,4,5}
set_num3={5,7,8,9,10}
union=set_num1.union(set_num3)
intersec=set_num1.intersection(set_num3)

print(union, intersec)

{1, 2, 3, 4, 5, 7, 8, 9, 10} {5}

In [8]:
book={ "title": "Alchemist",
         "author": "Paulo Coelho",
         "year": 1988,
         "genre": "Fiction"    

}
kerala={"capital":"Trivandrum",
        "fin_captal": "Kochi",
        "places":["Kumarakom","Alleppey","Munnar"]
}
print(kerala["places"])

['Kumarakom', 'Alleppey', 'Munnar']

In [22]:
studentA={"name": "Mathew",
          "age": 20,
          "grade": "A",
          "subjects": ["Math", "Science", "English"]
}
studentB={"name":"Mohan",
          "age": 22,
          "grade": "C",
          "subjects": ["History", "Geography", "English"]
}
print(studentB["name"], studentB["grade"]
      )

Mohan C